@media screen and (max-width: 1000px) {
  .bar {
    flex-direction: column;
  }
  .bar p.margin-top {
    margin-top: 3rem;
  }
  .search {
    width: 6rem;
  }
  .modeswitch {
    white-space: nowrap;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  nav {
    justify-content: center;
  }
  nav .nav {
    margin: 0.1rem auto;
    font-size: 0.8rem;
  }
}

:root {
  --dark:rgb(11, 7, 10);
  --light: rgba(230, 241, 251, 0.992);
  --text: rgb(224, 224, 224);
  --text_dark: rgb(28, 27, 27);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark);
  font-size: 1.15rem;
}

article {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text);
  text-align: justify;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.modeswitch {
  margin-left: 3rem;
  padding: 0.8rem;
  background-color: var(--light);
  font-size: 1rem;
  border-radius: 25px;
  border: 0;
}

body.light-mode .modeswitch:hover {
  text-shadow: #FC0 1px 0 8px;
}

.modeswitch:hover {
  cursor: pointer;
  text-shadow: blue 1px 0 8px;
}

body.light-mode .modeswitch {
  background-color: var(--dark);
  color: var(--text);
}

.search {
  border: 0;
  margin-right: 3rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 25px;
}

body.light-mode .search {
  background-color: var(--dark);
  color: var(--text);
}

h1 {
  text-align: center;
  font-size: 2.6rem;
  margin: 3rem auto 1rem auto;
  line-height: 100%;
}

h3 {
    margin-bottom: 3rem;
    font-size: 1.35rem;
}

.bar {
  display: flex;
  align-items: center;
}

.bar img {
  margin-bottom: 0;
}

.bar p {
  margin-left: 1rem;
}

.travis{
    margin-right: 1rem;
    width: 21rem;
    max-width: 100%;
}

p {
    text-indent: 1.5rem;
    line-height: 160%;
    margin-bottom: 2rem;
}

legend {
    color: var(--text);
    margin-bottom: 0.5rem;
}

.highlight {
  color: blue;
}

a {
  text-decoration: none;
  color: burlywood;
  font-weight: 700;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: palevioletred;
}

a.nav{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  text-align: center;
  font-weight: 500;
}

.inverse {
  background-color: var(--dark);
  filter: invert(1);
  height: 4rem;
}

.button {
  width: 20rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
}

footer .button {
  margin-top: 0rem;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  margin: 6px;
}

label {
  color: var(--text);
}

.submit {
  background-color: rgb(20, 223, 44);
  border: 0;
  border-radius: 10rem;
  width: 5rem;
  height: 1.5rem;
  margin-top: 1rem;
}

.submit:hover {
  background-color: rgb(15, 176, 34);
  cursor: pointer;
}

body.light-mode {
  background-color: var(--light);
  color: var(--text_dark);
}

.light-mode {
  color: var(--text_dark);
}

body.light-mode nav,
body.light-mode footer {
  background-color: var(--light);
}

.nav:hover {
  color: rgb(177, 177, 177);
}

body.light-mode .nav:hover {
  color: rgb(30, 30, 30);
}

body.light-mode nav a,
body.light-mode footer a {
  color: black;
}

#time {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.search-highlight {
  background-color: beige;
  color: black;
  text-decoration: underline;
}

#generate-btn{
  background-color: beige;
  color: black;
  font-family: inherit;
  font-size: 2rem;
  border:none;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem 1rem 3rem 1rem;
  border-radius: 8px;
  border: 3px solid black;
  cursor: pointer;
}

body.light-mode #generate-btn {
  background-color: blue;
}

.card {
  color: var(--text);
  margin: 1rem;
}

body.light-mode .card {
  color: var(--text_dark);
}

.card > div {
  margin-bottom: 0.6rem ;
}

.card-header {
  color: var(--text);
  font-weight: 900;
  text-decoration: underline;
  font-size: 1.35rem;
  margin: 3rem 1rem 2rem 1rem;
}

body.light-mode .card-header {
  color: var(--text_dark);
}