html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

article {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    text-align: center;
    
}

.gomb {
    width: 20rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    margin: auto;
    border-radius: 20rem;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.form {
    align-items: center;
    justify-content: center;
}

input {
    display: block;
}